<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>학생게시판</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />	
</head>
<body>
	<div class="container">
		<h2>학생 목록</h2>
		<form action="" method="POST" id="frm" name="frm">
			<input type="hidden" name="studentIdx" th:value="${student.studentIdx"} />
			<table class="student_list">
				<colgroup>
					<col width="5%" />
					<col width="*" />
					<col width="*" />
					<col width="*" />
					<col width="*" />
					<col width="5%" />
					<col width="5%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">학번</th>
						<td th:text="${student.studentIdx}"></td>
						<th scope="row">학생명</th>
						<td th:text="${student.studentName}"></td>
						<th scope="row">전공</th>
						<td th:text="${student.specialty}"></td>
						<th scope="row">이메일</th>
						<td th:text="${student.email"></td>
						<th scope="row">등록일</th>
						<td th:text="${student.registDt}"></td>
						<th scope="row">등록ID</th>
						<td th:text="${student.registId}"></td>
						<th scope="row">삭제여부</th>
						<td th:text="${student.deletedYn}"></td>
					</tr>
					
				</tbody>
			</table>
		</form>
		<input type="button" id="list" class="btn" value="목록" />
		<input type="button" id="edit" class="btn" value="수정" />
		<input type="button" id="delete" class="btn" value="삭제"/>
		<script src="http://code.jquery.com/jquery-3.6.1.js"></script>
		
		<script>
			$(function(){
				$('#list').on('click', function(){
					location.href='openStudentList.do';
				});
				
				$('#edit').on('click', function(){
					let frm = $('#frm')[0];
					frm.action='updateStudent.do';
					frm.submit();
				});
				
				$('#delete').on('click',function(){
					let frm = $('#frm')[0];
					frm.action = 'deleteStudent.do';
					frm.submit();
				});
			});
		</script>
	</div>
</body>
</html>
